*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.fls
*.latexmain
*.synctex.gz
*.fdb_latexmk
*.Rhistory
*.Rout
workspace*.Rdata
.Rdata
*.rdb
*.rdx
*.tikz
*.pdf
*.bib.bak
